button{
    background-color: brown;
    border: black;
    color: aliceblue;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}